<header 
  class="fixed top-0 left-0 w-full h-16 z-50"
  [style.backgroundColor]="'var(--background-color)'"
  [style.color]="'var(--text-color)'"
>
  <div class="w-full h-full px-4 md:px-6 flex items-center">
    <!-- Logo -->
    <h1 class="text-2xl md:text-4xl font-bold flex items-center space-x-1 select-none">
      <a
        [routerLink]="['/home']"
        class="hover:text-[color:var(--hover-color)] transition-colors duration-300 flex items-center space-x-1"
        [style.color]="'var(--main-color)'"
      >
        <span class="relative" [style.color]="'var(--main-color)'">
          S
          <span class="absolute text-[0.5rem] text-white -top-1 left-2">a</span>
        </span>
        <span [style.color]="'var(--text-color)'">hrouk</span>
      </a>
    </h1>

    

    <!-- Desktop Nav -->
    <nav class="hidden md:flex  flex-1 justify-center items-center space-x-10 ">
      @for (link of navLinks; track link.path)
      {
          <a
          [routerLink]="[link.path]"
          routerLinkActive="!underline !underline-offset-4 !decoration-2 !text-[var(--hover-color)]"
          [routerLinkActiveOptions]="{exact: true}"
          class="transition text-[var(--text-color)] hover:text-[var(--hover-color)] text-xl font-bold"
          >
            {{ link.label }}
          </a>
      }    
    </nav>

    <div class="flex items-center gap-4">
      <!-- Contact Button -->
      <a
        [routerLink]="['/contact']"
        routerLinkActive="!bg-[var(--hover-color)]"
        [routerLinkActiveOptions]="{exact: true}"
        class="hidden md:inline-flex ml-4 px-4 py-2 rounded-full text-sm transition hover:opacity-90"
        [style.backgroundColor]="hoverContact ? 'var(--hover-color)' : 'var(--main-color)'"
        [style.color]="'var(--button-text-color)'"
        (mouseover)="hoverContact = true"
        (mouseleave)="hoverContact = false"
      >
        Contact Me
      </a>
    </div>

    <!-- Hamburger Toggle -->
    <button class="md:hidden text-2xl ml-auto" (click)="menuOpen = !menuOpen">
      <i class="fas" [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"></i>
    </button>
  </div>

  @if (menuOpen)
  {
    <div
    class="md:hidden bg-[var(--background-color)] w-full absolute top-16 left-0 shadow-md transition-all duration-300"
    >
      <ul class="flex flex-col space-y-4 p-4 text-lg">
          @for (link of navLinks; track link.path)
          {
            <li>
            <a
              [routerLink]="[link.path]"
              routerLinkActive="!underline !underline-offset-4 !decoration-2 !text-[var(--hover-color)]"
              [routerLinkActiveOptions]="{exact: true}"
              class="transition text-[var(--text-color)] hover:text-[var(--hover-color)] block text-lg font-bold"
              (click)="menuOpen = false"
            >
              {{ link.label }}
            </a>
            </li>
          }
          <li>
            <a
              [routerLink]="['/contact']"
              routerLinkActive="!bg-[var(--hover-color)]"
              [routerLinkActiveOptions]="{exact: true}"
              class="px-4 py-2 rounded-full text-sm transition text-center block"
              [style.backgroundColor]="hoverContact ? 'var(--hover-color)' : 'var(--main-color)'"
              [style.color]="'var(--button-text-color)'"
              (mouseover)="hoverContact = true"
              (mouseleave)="hoverContact = false"
              (click)="menuOpen = false"
            >
              Contact Me
            </a>
          </li>
      </ul>
   </div>
 }
</header>
