<section
  id="experience"
  class="min-h-screen bg-[color:var(--background-color)] text-[color:var(--main-color)] px-4 md:px-16 py-24"
>
  <h2 class="text-4xl md:text-6xl font-bold text-center mb-16" style="color: var(--main-color)">
    Experiences
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 ml-10">
    <div
      *ngFor="let exp of experience"
      class="bg-[color:var(--card-bg)] border border-[color:var(--main-color)] rounded-xl p-6 shadow-lg hover:shadow-xl transition duration-300 " 
    >
      <!-- Title & Company -->
      <div class="mb-2">
        <h3 class="text-xl font-bold" style="color: var(--hover-color)">
          {{ exp.position }}
        </h3>
        <p class="text-sm font-medium text-[color:var(--text-color)]">{{ exp.company }}</p>
      </div>

      <!-- Dates -->
      <div class="text-xs text-gray-400 mb-2">
        {{ exp.startDate | date:'MMM yyyy' }} - 
        {{ exp.endDate ? (exp.endDate | date:'MMM yyyy') : 'Present' }}
      </div>

      <!-- Description -->
      <p class="text-sm text-[color:var(--text-color)] mb-4" *ngIf="exp.description">
        {{ exp.description }}
      </p>

      <!-- Technologies -->
      <div *ngIf="exp.technologiesUsed?.length" class="text-xs text-gray-400">
        <strong>Tech:</strong> {{ exp.technologiesUsed?.join(', ') }}
      </div>
    </div>
  </div>
</section>
