@import "tailwindcss";

/* :root {
   --main-color: #7F5D96;          
  --hover-color: #674177;         
  --text-color: #f0eaf5;          
  --button-text-color: #f0eaf5;    
  --background-color: #080809;     
  --card-bg: #2B142E; 
} */

/* :root {
    --main-color: #5E5E62;       
  --hover-color: #2F2D32;        
  --text-color: #E0DFE1;          
  --button-text-color: #E0DFE1;   
  --background-color: #0F0E10;    
  --card-bg: #1C1B1E;   
}  */

/* :root {
   --main-color: #99477b;         
  --hover-color: #b0437d;         
  --text-color: #ECF0F1;         
  --button-text-color: #2C3E50;   
  --background-color: #1A1A1A;    
} */
/* 
:root {

  --background-color: #2B2B2B;   
  --card-bg: #3A3A3A;            

  --text-color: #E6E6E6;         

  --main-color: #6D2C3E;          
  --hover-color: #8A3A50;         


  --button-text-color: #F2F2F2;  
} */


:root {

  --background-color: #2B2B2B;   
  --card-bg: #3A3A3A;            

  --text-color: #E6E6E6;         

  --main-color: #6C3C7A;    
  --hover-color: #8E5FA0;         


  --button-text-color: #F2F2F2;  
}

