@import "tailwindcss";

/* 1st pallet */
/* :root {
   --main-color: #7F5D96;          
  --hover-color: #674177;         
  --text-color: #f0eaf5;          
  --button-text-color: #f0eaf5;    
  --background-color: #080809;     
  --card-bg: #2B142E; 
} */

/* :root {
    --main-color: #5E5E62;       
  --hover-color: #2F2D32;        
  --text-color: #E0DFE1;          
  --button-text-color: #E0DFE1;   
  --background-color: #0F0E10;    
  --card-bg: #1C1B1E;   
}  */

:root {
   --main-color: #99477b;          /* Pink accent */
  --hover-color: #b0437d;         /* Lighter pink */
  --text-color: #ECF0F1;          /* Light gray text */
  --button-text-color: #2C3E50;   /* Dark text for pink buttons */
  --background-color: #1A1A1A;    /* Dark background */
  --card-bg: #2C2C2C;  
}

